/** IMPORTS **/
@import "variables.scss"; //tashqaridagi fayllarni import qildik
@import "reset.scss";

/** VERSIONS: PC **/
#pc-wrap {
  width: 100%;
  height: 100%;
  .container {
    position: relative;
    width: 1300px;
    margin: 0 auto;
    display: flex;
    background-color: rgb(64, 163, 206);
  }
}
